@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 0.5s ease-in forwards;
}

/* Base styles */
html {
  font-size: 100%; /* Default to 16px */
}

body {
  margin: 0;
  padding: 0;
}

.correct-letter {
  color: green;
}

.incorrect-letter {
  color: red;
}

/* Styles for the image display on desktop */
#wordImage {
  display: none;
  width: 15%; /* Default for desktop */
  height: auto;
  margin: 20px auto;
}

/* Adjustments for tablets */
@media (max-width: 768px) {
  #wordImage {
    width: 40%; /* Slightly larger on tablet screens */
    margin: 15px auto; /* Adjust margin as needed */
  }
}

/* Further adjustments for mobile devices */
@media (max-width: 480px) {
  #wordImage {
    width: 60%; /* Even larger on mobile screens */
    margin: 10px auto; /* Less margin on small screens */
  }
}

/* Styles for the word display */
#wordDisplay {
  font-family: 'Helvetica', sans-serif;
  font-size: 7vw; /* Increase the font size */
  letter-spacing: normal;
  text-align: center;
  margin: 0 auto; /* Ensure no side margins are pushing the text off-center */
  padding: 0; /* Ensure no padding is affecting the centering */
  margin-bottom: 10px; /* Include padding and borders in the element's total width and height */
  width: 100%; /* Full width to ensure proper centering */
}

.word-input::placeholder {
  font-size: 3vw; /* Adjust the font size of the placeholder text as needed */
  color: #888; /* Change the color if you want */
  /* You can add other styles here if needed */
}

/* Styles for the input field */
.word-input {
  font-family: 'Helvetica', sans-serif;
  font-size: 7vw; /* Increase the font size */
  width: 100%; /* Slightly less than full width to add some margin */
  max-width: 800px; /* Ensures it's not too wide on larger screens */
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 5px;
  color: transparent;
  background-color: transparent;
  margin: auto; /* Reduce margin to bring closer to word display */
  text-align: center;
  position: relative; /* Needed to establish a stacking context for z-index */
  z-index: 1; /* Ensure the input is behind the overlay */
}

.input-overlay-container {
  position: relative; /* Establishes the positioning context for its absolutely positioned children */
  width: 90%; /* Same width as your input to match sizes */
  max-width: 800px; /* Same max width as your input */
  margin: 10px auto; /* Center the container */
  align-items: center; /* Centers the content vertically */
  text-align: center;
}

.styled-overlay {
  position: absolute; /* Position it directly over the input */
  top: 0; /* Align to the top of the parent */
  left: 0; /* Align to the left of the parent */
  right: 0; /* Stretch to the right edge of the parent */
  bottom: 0; /* Stretch to the bottom edge of the parent */
  display: flex; /* Use flexbox to align children */
  justify-content: center;
  align-items: center; /* Centers the content vertically */
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  color: transparent; /* Makes the text color transparent */
  pointer-events: none;
  margin: 10px auto;
  font-size: 7vw; /* Same font size as the input to match sizes */
  z-index: 2; /* Ensures it is on top of the input field */
}

/* Styles for the message display */
.message {
  font-family: 'Helvetica', sans-serif;
  font-size: 2vw; /* Increase the font size */
  text-align: center;
  color: #333;
}

/* Center the container */
.container {
  text-align: center; /* Center text and inline elements */
  max-width: 600px; /* Maximum width of the container */
  margin: auto; /* Center the container */
  padding: 20px; /* Add some padding */
}

.counter {
  font-family: 'Helvetica', sans-serif;
  font-size: 3em;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.uppercase-letter {
  font-size: 0.8em; /* or any size that is suitable */
}

/* Responsive adjustments with media queries */
@media (max-width: 768px) {
  /* Adjustments for tablets and mobile devices */
  #wordDisplay {
    font-size: 8vw; /* Further increase for smaller screens */
  }
  
  .word-input {
    font-size: 8vw; /* Adjust the font size for tablets */
    padding: 10px; /* Adjust padding for tablets */
    height: 50px; /* Adjust height for tablets */
  }
  
  .message {
    font-size: 6vw;
  }

  .container {
    margin-top: 20px; /* Add some top margin on smaller screens */
  }
}

@media (max-width: 480px) {
  /* Further adjustments for mobile devices */
  #wordDisplay,
  .word-input {
    font-size: 8vw; /* Adjust the font size for mobile devices */
    padding: 8px; /* Adjust padding for mobile devices */
    height: 40px; /* Adjust height for mobile devices */
  }

  .message {
    font-size: 6vw;
  }

  .container {
    margin-top: 20px; /* Add some top margin on very small screens */
  }
}
